@media screen {
  * {
    /* dynamic style */
    --primary-color: #10394e;
    --return-color: #eb452bff;
    --recieved-color: #f79128ff;
    --secondary-color: #00eda1;
    --background-color: #ffffff;
    --tertiary-color: #062332ff;
    --dark-light-color: #e9f4fa;
    --return-color-light: #fca854;
    --primary-light-color: #557e92;
    --tertiary-color-light: #0c3144;
    --background-color-dark: #f8f7f7;
    --transition-animation: transform 0.2s ease, box-shadow 0.2s ease;
    /* background: #eb452b; */
    --linear-background: linear-gradient(
      90deg,
      rgba(235, 69, 43, 1) 34%,
      rgba(247, 145, 40, 1) 100%
    );
    --depth-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --box-shadow-line: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* global-width */
    --sidenav-width: 200px;
    --navbar-height: 80px;
    --navbar-height-mobile: 80px;
    --sidenav-width-mobile: 200px;
  }

  /* ::-webkit-scrollbar {
      display: none;
    } */

  body {
    color: var(--primary-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-poppins-light);
    background-color: var(--background-color-dark);
  }

  a,
  router-link {
    text-decoration: none;
  }

  input {
    outline: none;
  }

  button {
    outline: none;
    border: none;
  }

  input:focus,
  input:hover {
    outline: none;
  }

  textarea {
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    background: transparent;
  }

  textarea::placeholder {
    color: var(--light-color);
  }

  textarea:focus,
  textarea:hover {
    outline: none;
    border-color: none;
  }

  select {
    outline: none;
  }
}

.skeleton {
  cursor: progress;
  background: linear-gradient(
    90deg,
    var(--primary-color) 25%,
    var(--primary-light-color) 50%,
    var(--primary-color) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  background-image: var(--background-image);
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tertiary-color-light) var(--background-color);
}

*::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color-light);
  border: 2px solid var(--background-color);
  border-radius: 15px;
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
